<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quotations" href="quotations">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Quotation Display</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add" href="add">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Add Quotation</ion-label>
    </ion-tab-button>
  
  <ion-tab-button tab="summary" href="/summary">
    <ion-icon aria-hidden="true"name="square"></ion-icon>
    <ion-label>Summary</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>
